---

---

<footer class="bg-primary bg-opacity-5">
	<section class="w-5/6 mx-auto">
		<div class="flex gap-y-6 sm:flex-row flex-col-reverse justify-between py-8">
			<div class="flex flex-col gap-y-6">
				<h1 class="text-primary font-extrabold text-2xl">Javier Careaga</h1>
				<p class="text-gray-400 sm:w-4/6 w-full">
					A Full Stack developer building the Frontend and Backend of Websites,
					Web Applications and game modding that leads to the success of the
					overall product.
				</p>
			</div>
		</div>
		<hr class="text-primary opacity-10" />
	</section>
</footer>
